<%-include("../partials/header")-%>
<div id="aaa"></div>
<div class="container ">
    <div class="row justify-content-center ">
        <div class="col-lg-5 mt-4">
            <h2 class="text-center text-muted mb-4">비밀번호 재설정</h2>
            <h5 class="text-center text-muted mb-4">등록시 기입한 이메일 주소를 입력하세요</h5>
            <form action="/forgot" method="POST">
                <input type="email" class="form-control mb-2" id="findingemail" name="email" placeholder="이메일을 입력하세요">
                <div id="equalityMSG"></div>
                <button type="submit" class="btn btn-secondary btn-block">제출</button>
                <p class= "text-muted"> 메일이 도착하는데 시간이 걸릴 수 있습니다. 메일을 받으시면 링크를 클릭하여 1시간 이내에 비밀번호 변경을 진행하여 주십시오</p>
            </form>
        </div>
    </div>
</div>

<%-include("../partials/footer")-%>
