<%-include("../partials/header")-%>
<div class="loginbox">
    <h1 style="font-family: 'Noto Sans KR', sans-serif">로그인</h1>
       
     <a class="btn btn-block btn-social btn-google" href="/auth/google" type="submit" style="color:white;"> <i class="fab fa-google"></i> 구글로 로그인 하기</a>
        <a class="btn btn-block btn-social" type="submit" href="/auth/naver" style="color:white; background:#1EC800; font-family: 'Nanum Gothic', sans-serif; font-weight: 700"> <div>N</div>  네이버로 로그인 하기</a>
       <!--p><a href="/register">회원가입</a>-->
       <span class="text-muted" style="font-size:small"> 개인정보는 저장되지 않습니다.</span></p>
</div>

<%-include("../partials/footer")-%>
