<%-include("../partials/header")-%>
<div id="aaa"></div>
<div class="container ">
    <div class="row justify-content-center ">
        <div class="col-lg-5 mt-4">
            <h2 class="text-center text-muted mb-4">비밀번호 재설정</h2>
            <form onsubmit="return finalSubmit(event)">
               <input type ="hidden" id="token" value="<%=token%>">
                <div class="form-group">
                     <h5 class=text-muted><label for="password1">비밀번호</label></h5>
                     <span id ="password1Label"></span>
                    <input type="password" class="form-control" id="password1" name="password" placeholder="비밀번호" onkeyup="checkFirstPassword(this.value)">
                </div>

                <div class="form-group">
                    <h5 class=text-muted><label for="password2">비밀번호 확인</label></h5>
                    <span id ="password2Label"></span>
                    <input type="password" class="form-control" id="password2" name="password" placeholder="비밀번호 확인" onkeyup="checkSecondPassword(this.value)">
                </div>

                <div id="equalityMSG"></div>
                <button type="submit" class="btn btn-secondary btn-block">제출</button>
            </form>
        </div>
    </div>
</div>

<script src="/frontController/passwordCheck.js"></script>
<script>
let isCheckedId = false
 let token = document.getElementById("token").value
   
    function finalSubmit(e){
        e.preventDefault()
        var password = document.getElementById("password1").value
        let passwordValidity = checkValadity();
       
     
        if (!passwordValidity) {
            alert("비밀번호를 확인하세요")
            return false
        }
        fetch(`/reset/${token}`,{
            method: "POST",
            headers: new Headers({
                'Content-Type': "application/json"
            }),
             body: JSON.stringify({
                data: { password }
            })
        }).then(() => {
            window.location.href = "/"
        })
    }
</script>

<%-include("../partials/footer")-%>