<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>perfact study</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700|Noto+Sans+KR&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/bootstrap-social.css">
  
<nav class="navbar navbar-expand-lg navbar-dark fixed-top " style="background-color: rgba(30, 180, 150);">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
      <!--드롭다운-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          유형별검색
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:300px">
          <form class="px-4 py-3" action="/" method="post" >
            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck" name="searchCategories" value="사기업">
                <label class="form-check-label" for="dropdownCheck">
                  사기업
                </label>
              </div>

              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck2" name="searchCategories" value="공기업">
                <label class="form-check-label" for="dropdownCheck2">
                  공기업
                </label>
              </div>

              <div class="dropdown-divider"></div><!--선-->

              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck3" name="searchCategories" value="인적성">
                <label class="form-check-label" for="dropdownCheck3">
                  인적성
                </label>
              </div>

              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck4" name="searchCategories" value="면접">
                <label class="form-check-label" for="dropdownCheck4">
                  면접
                </label>
              </div>

              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck5" name="searchCategories" value="자소서">
                <label class="form-check-label" for="dropdownCheck5">
                  자소서
                </label>
              </div>
              
            </div>
            
            <button type="submit" id="searchCategoriesBtn" class="btn btn-primary">검색</button>
          </form>
        </div>
      </li>

      <%# <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          지역
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> %>
       
    </ul>

    <ul class="navbar-nav mr-auto">

     <a class="d-flex navbar-brand font-weight-light " href="#">취업전문 스터디는?</a>
     <a class="d-flex navbar-brand mx auto font-weight-bold" href="/">퍼펙트 스터디</a>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav ">
      
    
 

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">로그인</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a class="btn btn-block btn-social btn-google" href="/auth/google" type="submit" style="color:white;"> <i class="fab fa-google"></i> 구글로 로그인 하기</a>
        <a class="btn btn-block btn-social" type="submit" href="/auth/naver" style="color:white; background:#1EC800; font-family: 'Nanum Gothic', sans-serif; font-weight: 700"> <div>N</div>  네이버로 로그인 하기</a>
        <span class="text-muted" style="font-size:small">회원님의 비밀번호와 개인정보는 저장되지 않습니다.</sapn>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
      
      <% if(!currentUser){ %>
      <li class="nav-item"><a class="nav-link"  href="#" data-toggle="modal" data-target="#exampleModal">로그인</a></li>
       <!--  <li class="nav-item"><a class="nav-link" href="/auth/google"> <i class="fab fa-google"></i> </a></li> -->
        <!--<li class="nav-item"><a class="nav-link" href="/register"> 회원가입 </a> </li> -->
      <% } else { %>
        <li class="nav-item"><a class="nav-link " href="#"> <%=currentUser.username%> 님 접속중 </a></li>
        <li class="nav-item"><a class="nav-link" href="/logout"> logout </a></li>
      <% } %>
      <li class="nav-item active"><a class="btn btn-primary" href ="/study"> 스터디 만들기 </a></li>
      </ul>
       
    </form>
  </div>
</nav>
 
</head>
<body>

<div class = "container">
  <!-- error자체가 빈배열로 오면 true여서 에러, error.length만 하면 error없을때 에러.. 따라서 이중처리함 -->
  <% if(error && error.length > 0){ %> 
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>
  <% if(success && success.length > 0){ %> 
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  <% } %>
</div>