<%-include("partials/header")-%>

<form action="/login" method="post">
    <input type="text" name="username"> 이름
    <input type="password" name="password"> 비빌번호
    <button type="submit">로그인</button>
</form>
    

<%-include("partials/footer")-%>