<%-include("../partials/header")-%>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a98a8e84860d087b0befdbe0ef46f489"></script>

<div class="container">
  <div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="studyName">스터디 이름</label>
            <input type="text" class="form-control" name ="studyName" id="studyName" placeholder="ncs">
        </div>
        <div class="form-group">
            <label for="imgurl">이미지</label>
            <input type="text" class="form-control" id="imgurl" name ="imgurl">
        </div>
        <div class="form-group">
            <label for="recruNum">모집인원</label>
            <select class="form-control" id="recruNum">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            </select>
        </div>
        <div class="form-group">
            <label for="description">스터디 설명</label>
            <textarea class="form-control" id="description" name ="description" rows="5"></textarea>
        </div>
        <button class="btn btn-primary btn-block" id="makeStudy" type="submit">스터디 만들기</button>
    </div>
    <div class="col-md-8">
        <label for="map">지도</label>
        <div id="map" style="width:100%;height:300px;"></div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-8">
                    <input class="form-control" type="text" id="searchInput">
                </div>
                <div class="col-md-4">
                    <input class="btn btn-primary btn-block" type="button" value="장소 등록" id="locbtn">
                </div>
                <div>
                    <div id="article"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- 스크립트 태그 _ 지도 설정-->
<script>

document.getElementById('locbtn').addEventListener('click', loadText);
function loadText() {
  const inputvalue = document.getElementById("searchInput").value
  console.log("client input value", inputvalue);
  const myRequest = new Request("/getLocal");
  
  fetch(myRequest, { 
    method: "POST",
    headers: new Headers({ 'Content-Type': "application/json" }),
    body: JSON.stringify({ txt: inputvalue })
  })
    .then((res) => { return res.json() })
    .then((resultJson) => { 

      mappedLOCS = resultJson.documents.map((document) => {
        return {name: document.place_name, address: document.address_name, 
        id:document.id, x:document.x, y:document.y}})

        document.getElementById("article").innerHTML =""
        mappedLOCS.forEach(element => {
        document.getElementById("article").innerHTML +=
          `
          <input type="checkbox" id="${element.id}" class="latlng" 
          value="${element.x + "|" + element.y}"
          onchange="checkAddress(this, ${element.id});"> 
          ${element.name}: ${element.address} <p>
          `
    });
  });
}// loadText function 

// 스터디 만들기 버튼 클릭
document.getElementById('makeStudy').addEventListener('click', mapWithForm);
var checkedLocs = [];

function mapWithForm() {
  const studyName = document.getElementById('studyName').value;
  const imgurl = document.getElementById('imgurl').value;
  const recruNum = document.getElementById('recruNum').value;
  const description = document.getElementById('description').value;
  const data = { studyName, imgurl, recruNum, description, }

  fetch("/study", { 
      method: "POST",
      redirect: 'follow',
      headers: new Headers({ 'Content-Type': "application/json" }),
      body: JSON.stringify({ checkedLocs: checkedLocs, data: data })
  }).then(window.location.href = "http://localhost:3000")
}

// 체크박스 클릭감지
function checkAddress(checkbox, id) {
  if (checkbox.checked) {
    let latlngs = getLatLng(checkbox);
    let lat = latlngs[0];
    let lng = latlngs[1]; // x축 Latitude 위도  y축 longtitude 경도
    checkedLocs.push({"lat": lat, "lng": lng});
    panTo(lat, lng);
    setMarker(lat, lng, id, true);
  } else {
    let latlngs = getLatLng(checkbox);
    let lat = latlngs[0];
    let lng = latlngs[1];
    setMarker(lat, lng, id, false);
  }
}

// 맵 만들기
var mapContainer = document.getElementById('map'); 
mapOption = { 
    center: new daum.maps.LatLng(37.6512265449085, 127.076692983486), 
    level: 6 
};

var map = new daum.maps.Map(mapContainer, mapOption); 

const markers = []; //이것을 어떻게 처리해야 할지 고민(클로저?)

// 마커 만들기
function setMarker(lat, lng, id, flag) {
  var markerPosition  = new daum.maps.LatLng(lng, lat); 
  var marker = new daum.maps.Marker({
    position: markerPosition
  });
  if (flag) {
    marker.setMap(map);
    markers.push({marker, id})
  } else {
    markers.forEach((element) => {
      if (element.id === id ) {
      element.marker.setMap(null);
      }
    });
  }
}

//맵 중심 한방에 이동하기
// function setCenter(lat, lng) {            
//     var moveLatLon = new daum.maps.LatLng(lng, lat);
//     map.setCenter(moveLatLon);
// }

// 맵 중심 부드럽게 이동하기
function panTo(lat, lng) {
    var moveLatLon = new daum.maps.LatLng(lng, lat);
    map.panTo(moveLatLon);            
}       

// 체크박스 좌표 구하기
function getLatLng(checkbox) {
    stringLatLng = checkbox.value;
    latlngs = stringLatLng.split("|");
    return latlngs;
}
</script>

<%-include("../partials/footer")-%>
